body{
    background-color: rgb(185, 209, 228);
}
.profile{
     font-family: fantasy;
     font-style: italic;
     color: coral;
     padding: 2pc;
     margin: 2pc;


}
.description{
    color: rgb(53, 15, 124);
}
.list1{
    font-family: 'Lucida Sans';
    font-size: x-large;
    color: gold;
}